<form method="get" action="{{ path('homepage_update_state', {'idt': taskPerUser.idt,'idp': taskPerUser.idp}) }}" onsubmit="return confirm('You finished your homework? Do not forget to write an observation ');">
    <button class="btn btn-success" id="do">
        <i class="far fa-calendar-check"> Finished task</i>
    </button>
</form>