{% extends 'base.html.twig' %}

{% block body %}

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-9 bg-white rounded my3 p-5">
                <h1>Edit Description Task</h1>
                {{ include('homepage/_form.html.twig', {'button_label': 'Update'}) }}
                <a href="{{ path('homepage') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}