<form method="get" action="{{ path('project_finish', {'idP': project.id}) }}" onsubmit="return confirm(' Are you sure you want to finish the project? When it is finished you will not be able to see it in your project list.')">
    <button class="btn btn-danger" id="button">
        <i class="fas fa-paperclip"> Close Project</i>
    </button>
</form>