<form method="post" action="{{ path('movement_delete', {'id': movement.id}) }}" onsubmit="return confirm('you sure want to return all items to inventory?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movement.id) }}">
    <button class="btn btn-success" id="do"><i class="fas fa-pallet"> Return to Inventory</i></button>
</form>
