{% extends 'base.html.twig' %}

{% block title %}New Movement{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-9 bg-white rounded my3 p-5">
                <h1>Create new Movement</h1>
                {{ include('movement/_form.html.twig') }}
                <a href="{{ path('movement_list') }}">back to list</a>
            </div>
        </div>
    </div>

{% endblock %}
