{% extends 'base.html.twig' %}

{% block title %}New Cable{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-9 bg-white rounded my3 p-5">
                <h1>Create new Cable</h1>
                <a href="{{ path('cable_index') }}"><i class="fas fa-hand-point-left"> back to list</i></a>
                {{ include('cable/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
