{% extends 'base.html.twig' %}

{% block title %}New Cable{% endblock %}

{% block body %}
    <h1>Create new Cable</h1>

    {{ include('cable/_form.html.twig') }}

    <a href="{{ path('cable_index') }}">back to list</a>
{% endblock %}
